/* custom menu styling */

#custommenu div {
	background-color:transparent !important;
	background-image:none !important;
	border:0 !important;
}

#custommenu div.custom_menu_submenu {
	background-color:#EEEEEE !important;
}

#custommenu div.custom_menu_submenu a {
	color:blue !important;
}

#custommenu a {
	color:white !important;
	border:0 !important;
}

#custommenu a:hover,
#custommenu a.yui3-menu-label-active,
#custommenu a.yui3-menu-label-menuvisible
{
	background-color:#EEEEEE !important;
	color:blue !important;
}

#custommenu {
	position: absolute !important;
	left:210px !important;
	top:29px !important;
}

#maincontent + h1,
#maincontent + h2,
#maincontent + h3,
#maincontent + h4,
#maincontent + h5,
#maincontent + h6,
div > h1:first-child,
div > h2:first-child,
div > h3:first-child,
div > h4:first-child,
div > h5:first-child,
div > h6:first-child
{
	margin-top:0px !important;
}
